body, section, main, nav, header, footer {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}


h1, h2, h3, h4, h5, p, li {
    color: black;
    font-family: "Arial";
}

body {
    background-color: teal;
}


section.half {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    width:50%;
}

header {
    width: 100%;
}

h1 {
    text-align: center;
}


input{
    width: 100%;
}

select {
    width: 100%;
}