h1, h2, h3, h4, h5, p, li, td, ul, ol{
    color: black;
    font-family: "Arial";
}

body {
    background-color: lightgoldenrodyellow;
}

h1 {
    text-align: center;
}

table.results {
    border: 1px solid black;
    width: 100%;
}

table.params {
    border: none;
    
}

td.event_title {
    color: lightpurple;
    font-size: 20pt;
    padding-right: 10px;

}

td.event_details {
    color:lightpurple;
    font-size: 10pt;
    padding-right: 10px;
    text-align: center;
}


td.event_description {
    font-size: 10pt;
    max-width: 100%;
}

td.dining_options {
    font-size: 12pt;
    border: 1px solid black;
    color: lightpurple;
}


td.dining_info {
    font-size: 12pt;
    color: lightpurple;
    text-align: center;
    border: 1px solid black;
}

div#googleMap {
    width: 100%;
    border: 2px solid black;
    padding: 0px;
    margin: 0px; 
    
}

p.results {
    word-wrap: break-word;
}

li {
    color:lightpurple;
    font-size: 12pt;
}

ul.top {
    list-style-type: none; 
}

footer {
    text-align: center;
    font-style: italic;

    width: 100%;
    position: fixed;
    background-color: white;
    bottom: 110x;
    height: 110px;
    clear: both;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(158, 164, 184);
    
}

h3 {
    text-align: center;
    
}







